<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.6.6823.24527" targetFramework="net461" />
  <package id="CyotekImageBox" version="1.2.1" targetFramework="net461" />
  <package id="DynamicInterop" version="0.8.1" targetFramework="net452" />
  <package id="EPPlus" version="4.5.3" targetFramework="net452" />
  <package id="R.NET" version="1.7.0" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net461" />
</packages>